<nav class="navbar bg-body-secondary" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/icon.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      Footer
    </a>
  </div>
</nav>